# Ignore .txt, .exe, .zip files in the entire repository
*.txt
*.exe
*.zip

# Ignore files with no extension
*.
!*.*  # Don't ignore files with extensions

# Ignore .vscode folder
.vscode/

# Ignore in.txt and out.txt in any subdirectory
**/in.txt
**/out.txt
**/outt.txt
**/tempCodeRunnerFile*